body{
  font-family:Helvetica, Arial, sans-serif;
  }
.table td {
     line-height: 16px;
     font-size:12px;
}
#loader {
		border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
		}

		@keyframes spin {
			100% {
				transform: rotate(360deg);
			}
		}

		.center {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
#scroll {
  overflow-y: auto;
  height: 600px;
}