{% extends "ticket_app/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
      {% block content %}
    <link rel="shortcut icon" href="{% static 'ticket_app/logo.jpg' %}" alt="TCS"/>
    <link href="{% static 'ticket_app/style1.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/fontawesome-free-5.15.1/css/all.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'ticket_app/table_extensions/vendor/bootstrap/css/bootstrap-4.3.1.min.css' %}">
    <link href="{% static 'ticket_app/table_extensions/fontawesome-free-5.15.1/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/table_extensions/fontawesome-free-5.15.1/css/all.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ticket_app/images/favicon.png' %}">
        <link href="{% static 'ticket_app/vendor/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/vendor/chartist/css/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/css/style.css' %}" rel="stylesheet">
    <style>
#scroll {
  height: 550px;
  width:98%;
}
.container {
    max-width: 100%;
}
</style>
<body>
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Dashboard</h4>
                        </div>
                    </div>
                    <!--<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Ticket</a></li>
                            <li class="breadcrumb-item active"><a href="">View</a></li>
                        </ol>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fas fa-plus text-success border-success"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Profit</div>
                                    <div class="stat-digit">1,012</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fas fa-coins text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Customer</div>
                                    <div class="stat-digit">961</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fas fa-user text-pink border-pink"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Projects</div>
                                    <div class="stat-digit">770</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fas fa-link text-danger border-danger"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Referral</div>
                                    <div class="stat-digit">2,781</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="year-calendar"></div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>

                </div>

<script src="{% static 'ticket_app/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'ticket_app/js/quixnav-init.js' %}"></script>
    <script src="{% static 'ticket_app/js/custom.min.js' %}"></script>

    <script src="{% static 'ticket_app/vendor/chartist/js/chartist.min.js' %}"></script>

    <script src="{% static 'ticket_app/vendor/moment/moment.min.js' %}"></script>
    <script src="{% static 'ticket_app/vendor/pg-calendar/js/pignose.calendar.min.js' %}"></script>


    <script src="{% static 'ticket_app/js/dashboard/dashboard-2.js' %}"></script>
{% endblock content %}
</body>
</head>
</html>