{% extends "ticket_app/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
      {% block content %}
    <link rel="shortcut icon" href="{% static 'ticket_app/logo.jpg' %}" alt="TCS"/>
    <link href="{% static 'ticket_app/style1.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/fontawesome-free-5.15.1/css/all.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'ticket_app/table_extensions/vendor/bootstrap/css/bootstrap-4.3.1.min.css' %}">
    <link href="{% static 'ticket_app/table_extensions/fontawesome-free-5.15.1/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/table_extensions/fontawesome-free-5.15.1/css/all.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'ticket_app/table_extensions/assets/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/table_extensions/assets/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/table_extensions/assets/extensions/filter-control/bootstrap-table-filter-control.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/table_extensions/assets/extensions/filter-control/bootstrap-table-filter-control.min.css' %}" rel="stylesheet">
    <link href="{% static 'ticket_app/css/style.css' %}" rel="stylesheet">
    <script type="text/javascript">
function confirmDeleteModal(id){
    $('#deleteModal').modal();
	$('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData('+id+')">Delete</a>');
}
</script>
    <style>
#scroll {
  height: 550px;
  width:98%;
}
.container {
    max-width: 100%;
}
.quixnav .metismenu li {
    position: relative;
    color:#fff;
}
td {
font-size:14px;
}
.btn
{
color:#fff;
}
</style>
<body>
 <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>View Ticket</h4>
                        </div>
                    </div>
                    <!--<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Ticket</a></li>
                            <li class="breadcrumb-item active"><a href="">View</a></li>
                        </ol>
                    </div>-->
                </div>
    <div class="card" style="top:50;">
  <div class="card-body text-dark" style="font-family: Helvetica, Arial, sans-serif;font-size:17px;">
    <div class="col-lg-12">
            <table class="table table-striped" id="example"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-search-align="true"
                   data-show-columns="false"
                   data-show-toggle="false"
                   data-show-columns-toggle-all="false"
                   data-show-export="true"
                   data-export-data-type="all"
                   data-response-handler="responseHandler"
                   data-show-fullscreen="false"
                   data-show-pagination-switch="false"
                   data-height="500"
                   data-pagination-pre-text="Previous"
                   data-pagination-next-text="Next"
                   data-pagination-h-align="left"
                   data-pagination-detail-h-align="right"
                   data-page-size="20"
                   data-page-list="[20, 30, 40, 50, All]"
                   data-buttons-class="secondary">
                <thead>
                <tr>
                    <th data-sortable="true">ID</th>
                    <th data-sortable="true">Topic</th>
                    <th data-sortable="true">Tower</th>
                    <th data-sortable="true">DC</th>
                    <th data-sortable="true">Action Item</th>
                    <th data-sortable="true" class="severity" data-field="severity" data-formatter="nameFormatter">Severity</th>
                    <th data-sortable="true">Action Taken (History)</th>
                    <th data-sortable="true">Start Date</th>
                    <th data-sortable="true">Today's Date</th>
                    <th data-sortable="true">Age</th>
                    <th data-sortable="true">Owner</th>
                    <th data-sortable="true">ETA</th>
                    <th data-sortable="true">Actual Close Date</th>
                    <th data-sortable="true" class="status" data-field="status" data-formatter="priceFormatter">Status</th>
                    <th data-sortable="true"></th>
                </tr>
                </thead>
                <tbody>
                {% for i in data %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.past_address}}</td>
                    <td>{{i.present_address}}</td>
                    <td>{{i.present_address}}</td>
                    <td class="severity">Critical</td>
                    <td>{{i.phone_number}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.past_address}}</td>
                    <td>{{i.present_address}}</td>
                    <td>{{i.phone_number}}</td>
                    <td>{{i.phone_number}}</td>
                    <td class="status">Pending</td>
                    <td>
                        <button class="btn btn-info"><a style="text-decoration:none;color:#fff;" href="{% url 'ticket_update' pk=i.id %}"><i class="fas fa-edit"></i> Update</a></button><br><br>
                    </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
  </div>
</div>
<script src="{% static 'ticket_app/table_extensions/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/vendor/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/assets/bootstrap-table.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/assets/bootstrap-table.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/assets/tableExport.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/assets/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/assets/extensions/toolbar/bootstrap-table-toolbar.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/assets/extensions/export/bootstrap-table-export.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/assets/extensions/export/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/assets/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>

<script src="{% static 'ticket_app/table_extensions/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src=" {% static 'ticket_app/table_extensions/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
 <script>
  function nameFormatter(value, row) {
  var icon = row.severity === 'Critical' | row.severity === 'CRITICAL' | row.severity === 'critical' ? 'btn-danger btn-sm' :
  row.severity === 'Medium'| row.severity === 'MEDIUM' | row.severity === 'medium' ? 'btn-warning btn-sm' :
  row.severity === 'Low' | row.severity === 'LOW' | row.severity === 'low' ?'btn-primary btn-sm' :
  'btn-info btn-sm'
  return '<button class="font btn ' + icon + '">' + value + '</button>'
  }
</script>
<script>
  function priceFormatter(value, row) {
  var icon = row.status === 'Not Completed' ? 'btn-danger btn-sm' :
  row.status === 'Pending' | row.status === 'PENDING' | row.status === 'pending' ? 'btn-warning btn-sm' :
  row.status === 'Completed' | row.status === 'COMPLETED' | row.status === 'completed' ?'btn-success btn-sm' :
  'btn-primary btn-sm'
  return '<button class="font btn ' + icon + '">' + value + '</button>'
  }
</script>
<script>
    $('#example').bootstrapTable({
    exportOptions: {
        fileName: 'table'
    }
});
</script>

{% endblock content %}
</body>
</head>
</html>