{% extends "ticket_app/base.html" %}
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Ticket Create</title>
  <link rel="shortcut icon" href="{% static 'ticket_app/images/logo.png' %}" alt="TCS" />
  {% block content %}
  <link rel='stylesheet' type='text/css' href="{% static 'ticket_app/css/style1.css' %}" />
  <link rel="stylesheet" href="{% static 'ticket_app/table_extensions/vendor/bootstrap/css/bootstrap-4.3.1.min.css' %}">
  <link href="{% static 'ticket_app/table_extensions/fontawesome-free-5.15.1/css/all.css' %}" rel="stylesheet">
  <link href="{% static 'ticket_app/table_extensions/fontawesome-free-5.15.1/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'ticket_app/css/style.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <style>
  .quixnav .metismenu li {
    position: relative;
    color:#fff;
}
label {
 display: inline-block;
 margin-bottom: 5px;
}

.form-row {
  display: flex;
}

.form-group {
  padding: 5px;
  width: 50%;
}

.form-group input {
  width: 100%;
}
.user-details .input-box textarea {
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
</style>
<body>
 <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Create Ticket</h4>
                        </div>
                    </div>
                    <!--<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Ticket</a></li>
                            <li class="breadcrumb-item active"><a href="">View</a></li>
                        </ol>
                    </div>-->
                </div>
<div class="card" style="top:50;">
  <div class="card-body text-dark" style="font-family: Helvetica, Arial, sans-serif;font-size:17px;">
    <div class="col-lg-12" >
      <form method="POST">
        {% csrf_token %}
        <div class="user-details">
          <div class="form-row">
            <div class="form-group input-box">
              <span class="topic">Topic</span>
              <input type="text" name="topic" placeholder="Enter Topic"  required>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group input-box">
              <span class="tower">Tower</span>
              <input type="text" name="tower" placeholder="Enter Tower" required>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-row">
            <div class="form-group input-box">
              <span class="dc">DC</span>
              <input type="text" name="dc" placeholder="Enter DC" required>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group input-box">
              <span class="item">Action Item</span>
              <input type="text" name="item" placeholder="Enter Action Item" required>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-row">
            <div class="form-group input-box">
              <span class="severity">Severity</span>
              <input type="text" name="severity" placeholder="Enter Severity" required>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group input-box">
              <span class="history">Action Taken (History)</span>
              <textarea name="history" rows="4" cols="50" required></textarea>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-row">
            <div class="form-group input-box">
              <span class="eta">ETA</span>
              <input type="text" name="eta" placeholder="Enter ETA">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="form-group input-box">
              <span class="owner">Owner</span>
              <input type="text" name="owner" placeholder="Enter Owner" required>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-row">
            <div class="form-group input-box">
              <span class="status">Status</span>
              <input type="text" name="status_value" placeholder="Enter Status" required>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        <div class="button">
          <p>{{error}}</p>
          <input type="submit" value="Save" style="width:100px;margin-left:40%;height:45px;">
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'ticket_app/table_extensions/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/vendor/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'ticket_app/table_extensions/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'ticket_app/table_extensions/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src=" {% static 'ticket_app/table_extensions/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script>
  var inputQuantity = [];
    $(function() {
      $(".number").on("keyup", function (e) {
        var $field = $(this),
            val=this.value,
            $thisIndex=parseInt($field.data("idx"),10);
        if (this.validity && this.validity.badInput || isNaN(val) || $field.is(":invalid") ) {
            this.value = inputQuantity[$thisIndex];
            return;
        }
        if (val.length > Number($field.attr("maxlength"))) {
          val=val.slice(0, 10);
          $field.val(val);
        }
        inputQuantity[$thisIndex]=val;
      });
    });

</script>
<script>
var date = new Date();
var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;

document.getElementById("startdateId").value = today;
</script>
</body>
{% endblock content %}
</head>
</html>